<nav class="navbar nav-light" style="background: #a1bbdb">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        src="https://cdn-icons-png.flaticon.com/512/7018/7018392.png"
        alt="Logo"
        width="35"
        height="35"
        class="d-inline-block align-text-top"
      />
      <span class="text-center">Review System</span>
    </a>
    <% if(locals.user) {%>

    <a href="/add-employee" class="text-dark">Add employee</a>

    <form>
      <a class="btn btn-warning mx-2 rounded-pill fw-semibold" href="/sign-out">
        <i class="fa-regular fa-user"></i>
        <%= user.username %>
      </a>
      <a class="btn btn-danger mx-2 rounded-pill fw-semibold" href="/sign-out">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        Sign Out</a
      >
    </form>
    <%} %>
  </div>
</nav>
