<nav class="navbar nav-light" style="background: #a1bbdb">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://cdn-icons-png.flaticon.com/512/7018/7018392.png"
        alt="Logo"
        width="35"
        height="35"
        class="d-inline-block align-text-top"
      />
      <span class="text-center">Review System</span>
    </a>
  </div>
</nav>
